<?php

$cart = $this->Session->read('Cart');
                  // var_dump($cart);
                 
				// var_dump($cart->Product->name);
				$totalPrice = 0;
                 if($cart == NULL) { 
                 	$cart = array();
                 }
                  $contentPdf = '<div><h4>Produit</h4></div><div style="left:150px"><h4>Quantité</h4></div><div style="left:300px"><h4>Prix</h4></div><br>';
                 // $contentPdf = '<h1>toto</h1><table></table>';
                 // $contentPdf = '<table><thead><tr><th>Produit</th><th>Prix</th></tr></thead></table>';
                  foreach ($cart as $key => $product) {

                  	$contentPdf .= '<br><br><br>'.$product['Product']['name'].' '.$product['Product']['price'].'€ ';
                  	$totalPrice = $totalPrice + $product['Product']['price'];
                  }
                  $contentPdf .= '<br><br><br><h1>Prix total = '.$totalPrice.'€</h1>';


    $content = '<page>'.$contentPdf.'</page>';
    App::import('Vendor', 'html2pdf/html2pdf');
    $pdf = new HTML2PDF('P', 'A4', 'fr');
    $pdf->pdf->SetDisplayMode('fullpage');
    $pdf->writeHTML($content);
    $pdf->Output('fichier.pdf');
?>