<?php echo $this->element('ban_user'); ?>
    <div class="products index">
    	<h2><?php echo __('Products'); ?></h2>
    	<table cellpadding="0" cellspacing="0">
    		<tr>
    			<th><?php echo $this->Paginator->sort('id'); ?></th>
    			<th><?php echo $this->Paginator->sort('category_id'); ?></th>
    			<th><?php echo $this->Paginator->sort('name'); ?></th>
    			<th><?php echo $this->Paginator->sort('slug'); ?></th>
    			<th><?php echo $this->Paginator->sort('description'); ?></th>
    			<th><?php echo $this->Paginator->sort('image'); ?></th>
    			<th><?php echo $this->Paginator->sort('price'); ?></th>
    			<th><?php echo $this->Paginator->sort('weight'); ?></th>
    			<th><?php echo $this->Paginator->sort('views'); ?></th>
    			<th><?php echo $this->Paginator->sort('active'); ?></th>
    			<th><?php echo $this->Paginator->sort('created'); ?></th>
    			<th><?php echo $this->Paginator->sort('modified'); ?></th>
    			<th class="actions"><?php echo __('Actions'); ?></th>
    		</tr>
    		<?php foreach ($products as $product): ?>
    		<tr>
    			<td><?php echo h($product['Product']['id']); ?>&nbsp;</td>
    			<td>
    				<?php echo $this->Html->link($product['Category']['name'], array('controller' => 'categories', 'action' => 'view', $product['Category']['id'])); ?>
    			</td>
    			<td><?php echo h($product['Product']['name']); ?>&nbsp;</td>
    			<td><?php echo h($product['Product']['slug']); ?>&nbsp;</td>
    			<td><?php echo h($product['Product']['description']); ?>&nbsp;</td>
    			<td><?php echo h($product['Product']['image']); ?>&nbsp;</td>
    			<td><?php echo h($product['Product']['price']); ?>&nbsp;</td>
    			<td><?php echo h($product['Product']['weight']); ?>&nbsp;</td>
    			<td><?php echo h($product['Product']['views']); ?>&nbsp;</td>
    			<td><?php echo h($product['Product']['active']); ?>&nbsp;</td>
    			<td><?php echo h($product['Product']['created']); ?>&nbsp;</td>
    			<td><?php echo h($product['Product']['modified']); ?>&nbsp;</td>
    			<td class="actions">
    				<?php echo $this->Html->link(__('View'), array('action' => 'view', $product['Product']['id'])); ?>
    				<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $product['Product']['id'])); ?>
    				<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $product['Product']['id']), null, __('Are you sure you want to delete # %s?', $product['Product']['id'])); ?>
    			</td>
    		</tr>
    	<?php endforeach; ?>
    </table>
    <p>
    	<?php
    	echo $this->Paginator->counter(array(
    		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
    		));
    		?>	</p>
    		<div class="paging">
    			<?php
    			echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
    			echo $this->Paginator->numbers(array('separator' => ''));
    			echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
    			?>
    		</div>
    	</div>
    	<div class="actions">
    		<h3><?php echo __('Actions'); ?></h3>
    		<ul>
    			<li><?php echo $this->Html->link(__('New Product'), array('action' => 'add')); ?></li>
    			<li><?php echo $this->Html->link(__('List Categories'), array('controller' => 'categories', 'action' => 'index')); ?> </li>
    			<li><?php echo $this->Html->link(__('New Category'), array('controller' => 'categories', 'action' => 'add')); ?> </li>
    			<li><?php echo $this->Html->link(__('List Carts'), array('controller' => 'carts', 'action' => 'index')); ?> </li>
    			<li><?php echo $this->Html->link(__('New Cart'), array('controller' => 'carts', 'action' => 'add')); ?> </li>
    		</ul>
    	</div>
