<?php echo $this->element('ban_admin'); ?>
        <?php echo $this->element('menu_admin'); ?>
        <h2>Ajout Categorie</h2>
<?php

echo $this->Form->create('Bcategory',array('url' => array('action'=>'add'),'type'=>'post', 'class' => "pure-form pure-form-stacked"));
echo $this->Form->input('titre', array('label' => 'Titre categorie: ')); ?>
<br>
<?php echo $this->Form->end('Envoyer'); ?>

</div>