.slider {
  position: relative;
  width: 100%;
  height: 420px;
  overflow: hidden;
}

.slides {
  height: 100%;
  /* Clear fix */
  overflow: hidden;
  zoom: 0;
  width: 100%;
  /**
   * Prevent blinking issue
   * Not tested. Experimental.
   */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.slide {
  height: 100%;
  float: left;
  clear: none;
  width: 100%;
}

.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: 350px;
  padding: 20px;
}

.slider-arrow--right {
  bottom: 50%;
  right: 30px;
/*  background-image: url('../img/glide-arrows-right.png');*/
}

.slider-arrow--left {
  bottom: 50%;
  left: 30px;
/*  background-image: url('../img/glide-arrows-left.png');*/
}

.slider-nav {
  position: absolute;
  bottom: 30px;
}

.slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
}

.slider-nav__item:hover {
  background: #ccc;
}

.slider-nav__item--current {
  background: #ccc;
}
