.banner2 {
    background: transparent url("/img/header.jpg") 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    height: 350px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

.actions a{
    /*	background-color: #FA58F4;*/
}
a {
    color: #003d4c;
    text-decoration: none;
    /*  font-weight: bold;*/
}
/*#logo{
    width: 15%;
    height: 15%;
}
*/

.connexion{
  margin-left: 350px;
/*  position: absolute;*/
/* top: 450px;*/
/* left: 350px;*/
}

.connexion h2{
  color: #FA58F4;
}

.buttonRose{
    background-color: #FA58F4;
}
.banner {
    background: transparent url("../webroot/img/header6.jpg") 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    height: 350px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 4em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}
/*.banner2 {
    background: transparent url("../webroot/img/header6h.jpg") 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    height: 350px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
    }*/

    #footer a{
       text-decoration : none;
       color : white;
   }
   #footer{
       text-align: center;
       background-color: #FA58F4;  
       height: 50px;
       margin-top: 50px;
       padding: 25px;
       position: absolute;
       clear: both;
       position: relative;
       z-index: 10;
       height: 3em;


   }

   .menu{
    letter-spacing: auto;
}

/*.l-box {
        padding: 1em;
        }*/
        .test{ 
           background-color:blue
       } 
       .test2{
          background-color: red
      }
      .test3{
          background-color: green
      }
      .test4{
          background-color: black
      }

/*.menu{
	left: 350px;
	top: -50px;
	/*position: relative;
    }*/


    body {
        background-color: #ffffff;
      /*  color: #ff00ff;*/
    }


    .product{
        margin-left: 30px;
        border-width: 2px;
        border-color: #ededed;
        border-style: solid;
        text-align: center;
        line-height: 50px;
        margin-top: 25px;
        background-color: #fef4fa;

    }
    .name{
        font-size: 10px;
        font-family: Orator Std;

    }
    .decription{

    }
    .image{
        display: block;
        margin: 0 auto; 
        background-color: #fff;
        
    }
    .price{
      font-family: Orator Std;
      color:#ff00ff;
  }
  /* from PURE buttons-core.css */
  /**/

  .panel{
    /*    width: 1400px;*/

}
.cart{
/*    margin-left: 100px;*/
    display: block;
    margin: auto;
    margin-left: 150px;
    clear: both;
    position: relative;
    height: 3em;
    margin-top: -3em;
}
.containerCart{
    width: 100%;
}
.retourIndex{
    margin-top: 25px;
    margin-bottom: 25px;
    float: left;
}
.panel_img{
    height: 100px;
    width: 100px;
}

.img_min{
    height: 200px;

}
.img_max{
    height: 400px;

}
#cadeau{
    float:left;
}
#offre{
    font-size: 30px;
    font-family: arial;
    font-weight: normal;

}
.block{
    text-align:center;
    width: 1000px;
    /* height: 300px;*/
    margin: 0px auto;
}
.offre{
/*    height: 400px;*/
    width: 500px;
    float: left;
}
.color{
    background-color:#e8548d;
}
.categorieName{
   font-family: Orator Std;
   color: #ff6dc6;
   margin-left: 15px;
}
.fiche{
    margin-top: 130px;
    width: 1500px;
    height: 100%;
    margin-left: 100px;
    /*        background-color: #fef4fa;*/
    /*    text-align: center;*/
    line-height: 30px;
    padding-right: 50px;
}
.products_view h2{
    color: #ff6dc6;
}

#lapimg{
    margin-right: 50px;
    float:left;
/*    background-color: #fff;
     border-style: solid;
    border-width: 2px;
    border-color: #ededed;*/
    height: 1300px;
}
.price2{
  font-family: Orator Std;
  float: right;
  font-size: 50px;
  color:#ff00ff;
}
.add{
  font-family: Orator Std;
  float: right;
  font-size: 30px;
  color:#ff00ff;

}
#quatrecentquatre{
    width: 100%;
}
#quatrecentquatre img{
    margin: auto;
    display: block;
}

.thProduit{
  width: 300px;
  background-color: #ff00ff;
  color: white;
}
.thPrix{
  width: 50px;
  /*background-color: white;
  color: #ff00ff;*/
  background-color: #ff00ff;
  color: white;
}
.thQuantite{
  width: 50px;
  background-color: #ff00ff;
  color: white;
}
.thAction{
  width: 50px;
  text-align: center;
  background-color: white;
  color: #ff00ff;
}
.flash{
  text-align: center;
  color:#ff00ff;
}
.comment{
  margin-top: 50px;
}


#commentaireBlog{
  display: none;
}
  
#commandeform{
/*  display: none;*/
}
#commande{
  margin-left: 100px;
  margin-top: 30px;
}
.form1{
  float: left;
  width: 350px;
}
#recappanier{
  margin-left:  100px;
}
.menuadmin{
  height: 500px;
  float: left;
  margin-left: 100px;
  margin-right: 100px;
}
.footer{
  padding: 1em 0;
    text-align: center;
    background-color: white;
    width: 100%;
/*    position:fixed;*/
bottom:0;
left:0;
height:50px;
}
.toto{
  bottom:0;
left:0;
height:50px;
/*position: relative;*/
  /*margin-top: -180px;*/ /* negative value of footer height */
  /*height: 180px;*/
  clear:both;
  padding: 30px;
}

.catcat a{
  text-decoration: none;
 color: white;
}
.menutitre{
  color: #FF00FF;
}
.blockadmin{
  float: left;
  width: 700px;
  height: 100%;

}
.coco{
  color:black;
}