<?php echo $this->element('ban_admin'); ?>
        <?php echo $this->element('menu_admin'); ?>

            <div class="blockadmin">
 <h2>Edition article</h2>

<?php

echo $this->Form->create('Post',array('url' => array('action'=>'edit'),'type'=>'post', 'class' => "pure-form pure-form-stacked"));
echo $this->Form->input('Post.titre', array('label' => 'Titre : '));
echo $this->Form->input('Post.bcategory_id', array('label' => 'Category : ', 'options' => $cats));
echo $this->Form->input('Post.contenu', array('label' => 'Contenu : ', 'style' => 'height:150px'));
echo $this->Form->input('Post.date', array('dateFormat' => 'DMY','label' => 'Date de publication : '));
echo $this->Form->input('Post.id'); ?>
<br>
<?php
echo $this->Form->end('Envoyer');

?>
</div>

</div>