<?php echo $this->element('ban_admin'); ?>
        <?php echo $this->element('menu_admin'); ?>
<div class="categories blockadmin">
<?php echo $this->Form->create('Category', array('class' => "pure-form pure-form-stacked")); ?>
	<h2>Edition categorie</h2>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('parent_id');
		echo $this->Form->input('name');
		echo $this->Form->input('description');

	?>
	<br>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
</diV>