    <div class="banner2">
      <h1 class="banner-head">
        Keep calm.<br>
        Take a Rabbit.
      </h1>
    </div>
    <p>Bienvenue cher administrateur !</p>
    <?php
    foreach($users as $user)
    {
      e($html->link(
        $user['user']['name'],
        '/admin/user/edit/'.$user['user']['id'])
      );
      e('<br/>');
    }
    ?>
