<?php echo $this->element('ban_user'); ?>
<div class="connexion">
<h2> Modification de profil </h2>

<?php echo $this->form->create('User', array('class' => "pure-form pure-form-stacked")); ?>

	<?php echo $this->form->input('username',array('label'=>"Login : ")); ?><br>
	<?php echo $this->form->input('pass1',array('label'=>"Mot de passe :  ")); ?><br>
	<?php echo $this->form->input('pass2',array('label'=>"Confirmer votre mot de passe : ")); ?>
    <br><br>
	<hr>
    <br><br>
	<h2> Informations </h2>

	<?php echo $this->form->input('nom', array('label' => "Nom : ")); ?><br>
	<?php echo $this->form->input('prenom', array('label' => "Prenom : ")); ?><br>
	<?php echo $this->form->input('adresse', array('label' => "Votre Adresse : ")); ?><br>
	<?php echo $this->form->input('tel', array('label' => "Votre numero de Telephone : ")); ?>
<br>

<?php echo $this->form->submit("Modifier", array('class'=>"pure-button buttonRose")); ?>
</br><br>
</div>
