<?php echo $this->element('ban_admin'); ?>
<?php echo $this->element('menu_admin'); ?>
 	<h2> GESTION UTILISATEURS</h2>

 	<table class="pure-table pure-table-bordered" style="float:left; width: 900px;margin-left:50px;margin-top: 20px;">
 		<tr>
            <thead>
 			<th><?php echo __('username'); ?></th>
 			<th><?php echo __('mail'); ?></th>
 			<th><?php echo __('nom'); ?></th>
 			<th><?php echo __('prenom'); ?></th>
 			<th><?php echo __('adresse'); ?></th>
 			<th><?php echo __('tel'); ?></th>
 			<!-- <th><?php echo __('role_id'); ?></th> -->
        </thead>
 		</tr>
 		<?php foreach ($users as $user): ?>

 		<tr>

 			<td><?php echo($user['User']['username']); ?></td>
 			<td><?php echo($user['User']['mail']); ?></td>
 			<td><?php echo($user['User']['nom']); ?></td>
 			<td><?php echo($user['User']['prenom']); ?></td>
 			<td><?php echo($user['User']['adresse']); ?></td>
 			<td><?php echo($user['User']['tel']); ?></td>
			<!-- <td class="actions">
				<?php echo $this->Html->link(__('View'), array('controller' => 'products', 'action' => 'view', $product['id'])); ?>
				<?php echo $this->Html->link(__('Edit'), array('controller' => 'products', 'action' => 'edit', $product['id'])); ?>
				<?php echo $this->Form->postLink(__('Delete'), array('controller' => 'products', 'action' => 'delete', $product['id']), null, __('Are you sure you want to delete # %s?', $product['id'])); ?>
			</td> -->
		</tr>
	<?php endforeach; ?>
</table>
<br><br>
</div>